[submodule "examples/gears"]
	path = examples/gears
	url = https://github.com/jintonic/gears
	branch = master
[submodule "examples/mingle"]
	path = examples/mingle
	url = https://github.com/jintonic/mingle
	branch = main
