1?/*/Uninstall.exe
1?/*/bin/
1?/*/include/
1?/*/lib/
1?/*/share/
gears/
mingle/
shine/
pct/
manual/
*.sif
B?
Mordred*
build/
a.out
hello
*DS_Store
macro
source
*.heprep
*.wrl
*.png
*.jpg
*.jpeg
*.mp4
*.mov
*.mpeg
*.gif
