[submodule "examples/gears"]
	path = examples/gears
	url = https://github.com/jintonic/gears
	shallow = true
[submodule "examples/mingle"]
	path = examples/mingle
	url = https://github.com/jintonic/mingle
	shallow = true
