services:
  geant4:
    # docker compose run --rm geant4 tmux -u
    image: physino/geant4 # minimalistic container image + cmd-line tools
    platform: linux/amd64 # pre-compiled geant4 is not available for arm64
    volumes:
      # no X11 setup is included to be beginner friendly
      - .:/root/geant4 # load current folder as /root/geant4 in container
    # feel free to change the timezone identifier below according to
    # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
    environment: [ TZ=US/Central ]
    hostname: AlmaLinux
    build:
      context: platform/docker  # docker compose build geant4
      platforms:
        - "linux/amd64" # for build time
  g4:
    # docker compose run --rm g4
    image: physino/geant4:11.4.0 # minimalistic container image
    platform: linux/amd64 # for run time
    profiles: [ "g4" ] # avoid running it by `docker compose up`
    command: /usr/bin/bash
    volumes: [ .:/root/geant4 ]
    # https://unix.stackexchange.com/a/698068/26929
    # https://stackoverflow.com/a/63291253/1801749
    environment: [ TZ=US/Central ]
    hostname: AlmaLinux # https://stackoverflow.com/a/63291253/1801749
    build:
      context: 11/4.0  # docker compose build g4
      platforms:
        - "linux/amd64" # for build time
  heprapp:
    # docker compose run --rm heprapp
    command: /usr/bin/hv # launch HepRApp
    image: physino/heprapp # https://hub.docker.com/r/physino/heprapp
    profiles: [ "g4" ]
    environment:
      - DISPLAY=host.docker.internal:0.0
    # host.docker.internal doesn't exist in a Linux host
    # https://stackoverflow.com/a/24326540
    # https://stackoverflow.com/questions/70725881
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - .:/root/geant4
    # https://github.com/microsoft/WSL/issues/5339#issuecomment-1125709672
    # https://docs.docker.com/compose/compose-file/#sysctls
    sysctls:
      - net.ipv4.tcp_keepalive_intvl=60
      - net.ipv4.tcp_keepalive_probes=5
      - net.ipv4.tcp_keepalive_time=300
  root:
    # docker-compose run root
    command: /usr/bin/bash # launch a command line to run root
    image: physino/root # https://hub.docker.com/r/physino/root
    profiles: [ "root" ]
    environment:
      - DISPLAY=host.docker.internal:0.0
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - .:/root/geant4
    working_dir: /root/geant4
    build: analysis/root
  notebook:
    # docker-compose up notebook
    command: /usr/bin/root --notebook --allow-root --no-browser --ip=0.0.0.0
    image: physino/root:notebook
    profiles: [ "root" ]
    ports: [ "8888:8888" ] # only exposed with `up`, not 'run`
    volumes: [ ".:/root/geant4" ]
    build: analysis/root/notebook # docker-compose build notebook
  jekyll:
    # docker compuse up
    image: physino/jekyll:pages
    profiles: [ "jekyll" ] # avoid running it by `docker compose up`
    # --force_polling: needed in bash in windows to watch for file changes
    # --livereload: let a browser to reload when the site is regenerated
    command: jekyll serve --incremental --livereload --force_polling
    ports:
      # port for http service
      - 4000:4000
      # port for livereload service. --livereload won't work without it
      - 35729:35729
    volumes:
      - .:/srv/jekyll
