services:
  geant4: # docker compose --profile geant4 up or docker compose run --rm geant4 tmux -u
    image: physino/geant4:latest # minimalistic container image + cmd-line tools
    platform: linux/amd64 # for run time
    profiles: [ "geant4" ]
    container_name: Geant4
    volumes: [ ".:/root/geant4" ] # load current folder as /root/geant4 in container
    # feel free to change the timezone identifier below according to
    # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
    environment: [ "TZ=US/Central" ]
    build: # docker compose build geant4
      context: platform/docker
      platforms: [ "linux/amd64" ] # for build time
  novnc: # X window display sidecar for heprapp and root
    image: theasp/novnc
    profiles: [ "heprapp", "root" ]
    container_name: noVNC
    platform: linux/amd64
    ports: [ "8080:8080" ]
    environment:
      - DISPLAY_WIDTH=${DISPLAY_WIDTH:-1280}
      - DISPLAY_HEIGHT=${DISPLAY_HEIGHT:-720}
      - RUN_XTERM=no
    command: >
      bash -c "mkdir -p ~/.fluxbox &&
      echo 'session.screen0.toolbar.visible: false' > ~/.fluxbox/init &&
      echo 'session.styleFile: /usr/share/fluxbox/styles/bora_blue' >> ~/.fluxbox/init &&
      /app/entrypoint.sh --forever --shared"
    networks: [ "X11"]
    healthcheck:
      test: ["CMD-SHELL", "timeout 1s bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/8080' || exit 1"]
      interval: 1s     # check every 1 seconds
      timeout: 1s      # give up on a single check after 1s
      retries: 5       # try 5 times before failing
      start_period: 0s # wait 0s before the first check
  heprapp: # docker compose --profile heprapp up
    image: physino/heprapp:latest
    profiles: [ "heprapp" ]
    container_name: HepRApp
    command:
      - /bin/sh
      - -c
      - |
        echo "Access HepRApp @ \033[1;36mhttp://localhost:8080/vnc.html?autoconnect=true&scale=true\033[0m"
        java -jar HepRApp.jar
    depends_on:
      novnc:
        condition: service_healthy
    environment:
      - DISPLAY=novnc:0.0
    volumes:
      - ".:/root/geant4"
      - "./vis/HepRepFile/app/user.properties:/user.properties"
    networks: [ "X11"]
    build: # docker compose build heprapp
      context: vis/HepRepFile/app
      platforms: [ "linux/amd64", "linux/arm64" ]
  root: # docker compose --profile root up
    command: /usr/bin/bash # launch a command line to run root
    image: physino/root # https://hub.docker.com/r/physino/root
    profiles: [ "root" ]
    environment:
      - DISPLAY=host.docker.internal:0.0
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - .:/root/geant4
    working_dir: /root/geant4
    build: analysis/root
  notebook:
    # docker-compose up notebook
    command: /usr/bin/root --notebook --allow-root --no-browser --ip=0.0.0.0
    image: physino/root:notebook
    profiles: [ "root" ]
    ports: [ "8888:8888" ] # only exposed with `up`, not 'run`
    volumes: [ ".:/root/geant4" ]
    build: analysis/root/notebook # docker-compose build notebook
  jekyll:
    # docker compuse up
    image: physino/jekyll:pages
    profiles: [ "jekyll" ] # avoid running it by `docker compose up`
    # --force_polling: needed in bash in windows to watch for file changes
    # --livereload: let a browser to reload when the site is regenerated
    command: jekyll serve --incremental --livereload --force_polling
    ports:
      # port for http service
      - 4000:4000
      # port for livereload service. --livereload won't work without it
      - 35729:35729
    volumes:
      - .:/srv/jekyll
networks:
  X11:
